@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  color: #2762eb;
  text-decoration: none;
}

.container {
  background: #fff;
  border-radius: 3px;
  border: 20px solid #dce7ff;
  width: 1000px;
  max-width: 100%;
  display: flex;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
