@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  color: #2762eb;
  text-decoration: none;
}
